<h1>Editing field group</h1>

<%= render "form", field_group: @field_group %>

<br>

<div>
  <%= link_to "Show this field group", @field_group %> |
  <%= link_to "Back to field groups", field_groups_path %>
</div>
