<div id="<%= dom_id concept_match %>">
  <p>
    <strong>Concept:</strong>
    <%= concept_match.concept_id %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= concept_match.option_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= concept_match.comment %>
  </p>

</div>
